@import '../abstratic/variables';

.contato {
    background-color: #EAF2FD;
}

.contato__imagem {
    display: none;
}

.contato__descricao {
    color: $grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;  
}

.contato__campo {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #C8C8C8;
    margin-bottom: .3rem;
    margin-top: 2rem;
    padding: .75rem .5rem;
}

.contato__campo:has(.contato__input:focus) {
    border-bottom: 3px solid $light-blue;
}

/*.contato__campo:has(.contato__input:focus) .contato__label {
    color: #2A7AE4;
}*/

.contato__label {
    color: #A2A2A2;
    font-size: .75rem;
}

.contato__input {
    border: none;
    color: $grey;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    padding-top: .25rem;
    width: 100%;
}

.contato__botao {
    background-color: $light-blue;
    color: #FFFFFF;
    margin-top: 2rem;
    cursor: pointer;
}

.erro {
    display: block;
    color: $grey;
    font-size: .8rem;
    font-weight: 700;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .contato {
        padding-top: 8rem;
        display: flex;
    }

    .contato__imagem {
        display: flex;
        width: 40%;
        margin-right: 1rem;
        background: url("../../assets/tel.jpg") no-repeat center / cover;
    }

    .contato__formulario {
        flex-grow: 1;
    }
}