@import '../abstratic/variables';

.home {
    display: flex;
    flex-direction: column;
}

.titulo--principal {
    font-size: 1.37rem;
    color: $grey;
}

.home__descricao {
    font-size: .875rem;
    margin: 1rem 0;
}

.home__lista, .home__link {
    display: flex;
    font-size: .875rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home__link {
    color: inherit;
    text-decoration: none;
}

.home__imagem {
    margin-left: .2rem;
}

.home__imagem--maior {
    width: 25%;
    order: -1;
    margin-bottom: 1rem;
    border-radius: 100%;
}

@media screen and (min-width: 768px) {
    .home {
        flex-direction: row;
        align-items: center;
    }

    .home__lista {
        justify-content: flex-start;
    }

    .home__link {
        margin-right: 2rem;
    }

    .home__imagem--maior {
        margin-left: 2rem;
        order: 0;
    }
}

@media screen and (min-width: 1024px) {
    .titulo--principal{
        font-size: 3.25rem;
    }

    .home__descricao {
        font-size: 1.3rem;
        margin: 1rem 0;
    }

    .home__link {
        font-size: 1rem;
    }
}